target/
project/target/
project/project/
.idea/
.bsp/
.metals/
.worksheet/
*.log
.bloop/
*.bsp
*.class
*.jar
*.war
*.ear
*.iml
*.ipr
*.iws
*.log
*.tmp
*.cache
*.out
*.zip
*.tar.gz
*.tgz
*.bak
*.swp
.DS_Store
*.swo
*.swn
.vscode/
*.sublime-project
*.sublime-workspace
*.code-workspace
*.env
docs-out/
**/metals.sbt